body {
    margin: 0;
    font-family: "Instrument Serif", sans-serif;
}

header {
    background-color: red;
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 15px;
}

header h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;

}

header img {
    border-radius: 170px;
    width: 300px;
    border: 20px solid #ffffff;
}