body {
    margin: 0;
    font-family: "Instrument Serif", sans-serif;
}

header {
    background-color: red;
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
}

header h1{
    color: white;
}

header img {
    border-radius: 170px;
    width: 300px;
    border: 20px solid #ffffff;
}