body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
h1 {
    font-size:30px; 
    color:MediumSpringGreen;
}
h2 {
    font-size:20px; 
    color:rebeccapurple;
}

.uppercase {
    text-transform: uppercase;
}

.big {
    font-size: 60px;
}

span {
    font-size: 25px;
    color:teal;
}

h1 span {
    color:chocolate;
    font-size: 30px;
}